In [2]:
from subAOI import SubAOI
import json
import pandas as pd

In [3]:
aoi_by_word = SubAOI(fontname = "NetflixSans-Bold.otf",
            fontsize_in_px=44,
            subtitlepath = "Ep1DUTCHCOMPLETEeyetracking.srt",
            screensize =(1920,1080),
            vertical_offset=0.8163,
            vertical_offset_top=0.1466)

In [4]:
results = aoi_by_word.calculate(
    line_spacing=10, first_line = (25, 17, 25, 5), second_line = (25, 5, 25, 17), single_line = (25, 11, 25, 11)
)
#1.5x padding: first_line = (25, 17, 25, 5), second_line = (25, 5, 25, 17), single_line = (25, 11, 25, 11)
#1.75x padding: first_line = (25, 28, 25, 5), second_line = (25, 5, 25, 28), single_line = (25, 17, 25, 17)

In [ ]:
with open("target_MWU.json") as input_targets:
    targets = json.load(input_targets)
    
aoi_MWU = SubAOI(fontname="NetflixSans-Bold.otf",
                    fontsize_in_px=44,
                    subtitlepath="Ep1DUTCHCOMPLETEeyetracking.srt",
                    screensize=(1920, 1080),
                    vertical_offset=0.8163,
                    vertical_offset_top=0.1466,
                    target_words=targets)
results_MWU = aoi_MWU.calculate(
    line_spacing=10, first_line = (0, 17, 0, 5), second_line = (0, 5, 0, 17), single_line = (0, 11, 0, 11) # no padding for MWU
)

In [7]:
aoi_set_1_50 = pd.concat([results,results_MWU])

In [8]:
aoi_set_1_50

,target,start_point,end_point,start_time,end_time,duration,line_number
0,Welkom!_@_1,"(682, 871)","(895, 937)",14080,17790,3710,1
1,Alles_@_1,"(896, 871)","(1008, 937)",14080,17790,3710,1
2,is_@_1,"(1009, 871)","(1052, 937)",14080,17790,3710,1
3,in_@_1,"(1053, 871)","(1100, 937)",14080,17790,3710,1
4,orde._@_1,"(1101, 871)","(1238, 937)",14080,17790,3710,1
...,...,...,...,...,...,...,...
19,ik ben dol op,"(619, 871)","(884, 937)",808010,809900,1890,308
20,ik weet niet,"(627, 147)","(868, 213)",244610,246070,1460,88
21,je hoort hier,"(1260, 811)","(1260, 877)",1280740,1282970,2230,468
22,naar buiten,"(998, 811)","(1232, 877)",1354520,1357340,2820,496
23,naar buiten,"(998, 811)","(1232, 877)",1354520,1357340,2820,496